.panel.panel-primary
  .panel-heading About this application
  .panel-body
    %h4= "Simple forecast built using <a href='http://www.sinatrarb.com/'>Sinatra</a> web framework and <a href='http://openweathermap.org/' target='_blank'>Open Weather Forecast</a> Api"
