%h1 Search your city
%form(action='forecast' method='get' class='form-group')
  %div.form-group
    %label Country name
    %select.form-control(name='country')
      - COUNTRIES.each do |code, name|
        %option(value="#{code}")= "#{name}"

  %div.form-group
    %label City
    %input.form-control(type='text' name='city')

  %div
    %button.btn.btn-default(type='submit') Send
